


<div class="wrapper-form">
    <div class="main-flex">
        <div class="labelflex">
            <label>Country :</label>
        </div>
        <div class="formcontrolflex">
            <select formControlName="countrylist" class="form-control width"> 
                <option *ngFor="let country of dataSource" value={{country.Id}}>{{country.Name}}</option>    
            </select>  
        </div>
    </div>
    <div class="main-flex">
        <div class="labelflex">
            <label>Code :</label>
        </div>
        <div class="formcontrolflex">
            <input type="text" id="code" name="code" #code>  
        </div>
    </div>
    <div class="main-flex">
        <div class="labelflex">
            <label>Description :</label>
        </div>
        <div class="formcontrolflex">
            <input type="text"  id="desc" name="desc" #desc>
        </div>
    </div>
    <div class="wrapperbtn ">
        <button type="button" (click)="clickme(code.value,desc.value)">Save</button>
    </div>
</div>



